@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

* {
    padding:0%;
    margin: 0%;
    border:none;


}

body {
    font-family: merriweather sans-serif;
    font-weight: 900;
    
}
h1 {
    color:#ea1538;
    font-family: merriweather sans-serif;
    text-transform: uppercase;

}
 span {
    color:black;
}
#logo {
    float: left;
    font-size: xx-large;

}