@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

* {
    padding:0%;
    margin: 0%;
    border:none;


}

body {
    font-family: merriweather sans-serif;
    font-weight: 900;
    
}
h1 {
    color:#ea1538;
    font-family: merriweather sans-serif;
    text-transform: uppercase;

}
 span {
    color:black;
}
#logo {
    float: left;
    font-size: xx-large;

}
#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;



}
.button {
    display:inline-flex;
    height: 40px;
    width:150px;
    border:2px solid black;
    margin: 20px 20px 20px 20px;
    color:blue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8em;
    letter-spacing: 1.5px;
    align-items:center;
    justify-content: center;
    overflow:hidden;
    float:right;
}
#dumbbell {
    width:15px;
    height:10px;
    position:absolute;
    transform:translateX(60px);
    opacity: 0;
    -webkit-transition: all.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin:0;
    padding:0 5px;
    background-color: #ea1538;

}
#button:hover img {
    width: 15px;
    opacity:1;
    transform:translateX(50px);
    background-color: #ea1538;
}
